@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.spin{
    animation: spin 60s linear infinite;
}